@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;1,400&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

body {
	background-color: #FBFBFB;
	transition: background-color 0.5s;
	color: #333;
	/* line-height: 1.5em; */
	margin: 0;
	padding: 8px 20vw;
	box-sizing: border-box;
	text-align: start;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

.hover button:not([disabled]):after,
.hover a:not([disabled]):after {
	content: "";
	display: block;
	height: 3px;
	width: 0;
	background: transparent;
	transition: width 0.5s ease, background-color 0.5s ease;
}

.hover button:not([disabled]):hover:after,
.hover a:not([disabled]):hover:after {
	width: 100%;
	background: #333;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.disable-select {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}